/* #region css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*color */
    --clr-green-light: rgb(37, 126, 59);
    --clr-green-dark: rgb(11, 69, 25);

    /* adjustments */
    --bRadius: 8px;
}
/* #endregion*/

/* #region standards */
body{
    background-color: rgb(22, 21, 21);
    color: white;
    font-family: Roboto, 'Times New Roman', Times, serif;
}

h1, h2,h3{
    text-align: center;
    white-space: nowrap;
}

h1{
    margin-bottom: 48px; 
}

h2{
    margin-bottom: 24px;
}

main{
    padding: 100px 24px;
    min-height: 100dvh;
}

.content-wrapper{
    max-width: 1920px;
}
/* #endregion*/

/* #region Cards */
#sectionBasicAnimationList{
    display: flex;
    justify-content: center;
}

.animationList{
    border-radius: var(--bRadius);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.animationList__item{
    background-color: rgba(50, 48, 48, 0.485);
    width: clamp(280px, 20vw, 500px);
    height: 300px;
    border-radius: var(--bRadius);
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .item__headline{
        font-weight: bold;
    }
    
    .item__text{
        margin-bottom: 32px;
        text-align: center;
    }

    .item__box{
        cursor: pointer;
        width: 100px;
        height: 100px;
        border-radius: var(--bRadius);
        background-color: var(--clr-green-light);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
}
/* #endregion*/

