*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    min-height: 100dvh;
    justify-content: center;
    gap: 16px;
    background-color: black;
}

.container:has(:hover) .card:not(:hover) {
  filter: grayscale(1) brightness(0.2);
  transform: scale(0.95);
}

.card:has(:hover){
    transform:scale(1.2);
}

.card{
    border-radius: 16px;
    cursor: pointer;
    transition: all 250ms ease-in-out

}
.card img{
    width: 200px;
    height: 200px;
}