h1{
    position: relative;
    padding: 16px;
}

h1::after{
    content: '';
    background-color: deeppink;
    width: 50px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}

h1::before{
    content: '';
    background-color: deeppink;
    width: 5px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
}

h1:hover::after{
     animation: myAnimation 250ms forwards  130ms;
}

h1:hover::before{
     animation: myAnimation2 250ms forwards;
}

@keyframes myAnimation {
    0%{
     width: 50px;
     left: 0;
    }
    100%{
     width: 150px;
     left: 50px;
    }
}

@keyframes myAnimation2 {
    0%{
     height: 40px;
    }
    100%{
     height: 0;
    }
}
