*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    background-image: url("./assets/piano.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.blended-text{
    font-size: 48px;
    color: whitesmoke;
    mix-blend-mode: difference;

    /* ODER */
    /* color: deeppink;
    mix-blend-mode: overlay;
    opacity: 0.8; */
}